
.Main{
    padding: 10px;
    float: left;
}
.tt{
    padding: 10px;
    float: left;
}

.sru {
    transition: transform .2s; /* Animation */
}
.sru:hover {
    transform: scale(3);
    position: relative;
    z-index: 1;
}