{% extends "layout.html" %}

{% block body %}
<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-12">

      <!-- Title -->
      <h3 class="mt-4">{{article.title}}</h3>

      <!-- Author -->
      <p class="lead">
        
        {{article.author.username}} tarafından yayınlandı
      </p>

      
      <!-- Preview Image -->
    
      
      {% if article.article_image %}
      <h4  style="margin-top: 10px;margin-bottom: 10px; height: 30px">Soru</h4>
      <img class="img-fluid rounded" id="soru" src="{{article.article_image.url}}" alt="">
      {% endif %}
    
      <hr>
    
      {% if article.article_image_c %}
      <button id="gcvp" class="btn" onclick="myFunction()" style="margin-top: 10px;margin-bottom: 10px; height: 30px;">Cevabı Göster</button>
      <img id="cvp" class="img-fluid rounded" src="{{article.article_image_c.url}}" alt="">
      {% endif %}
    
    
      <hr>

      <!-- Post Content -->
      <p class="lead" style="overflow: hidden;">
          {{article.content|safe}}
      </p>

      <!-- Date/Time -->
      <p>{{article.created_date}}</p>

      <hr>
      <hr>

      <h4>Yorumlar</h4>
      <hr>
      {% if comments %}
      {% for comment in comments  %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{comment.comment_author}}</h5>
            {{comment.comment_date}} <br>
            {{comment.comment_content}}
          </div>
        </div>
      {% endfor %}
      
      
      {% else %}
      <div class ="alert alert-danger">
        Bu Soru herhangi bir yorum yazılmamış,ilk yorum yapan siz olun!
      </div>
      {% endif %}

      <div class="card my-4">
          <h5 class="card-header">Yorum Ekle:</h5>
          <div class="card-body">
            <form method = "post" action = "{% url 'article:comment' article.id %}">
              {% csrf_token %}
              
              <div class="form-group">
                  <label for="formGroupExampleInput">Yorum</label>
                <textarea name = "comment_content" class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-danger">Ekle</button>
            </form>
          </div>
        </div>
        </div>
        
      </div>
      <script>
        var i = 0;
        document.addEventListener('readystatechange', () => {    
        if (document.readyState == 'complete') myFunction();
        });
       
        function myFunction() {
        
        if (i == 0)
        {
          document.getElementById("cvp").style.display = 'none';
          i = 1;
        }
        else
        {
          document.getElementById("cvp").style.display = 'inline';
          i = 0;
        }
        
  
  }
      </script>
      

{% endblock body %}
